
# Created by https://www.gitignore.io/api/venv
# Edit at https://www.gitignore.io/?templates=venv

### venv ###
# Virtualenv
# http://iamzed.com/2009/05/07/a-primer-on-virtualenv/
.Python
pyvenv.cfg
.env
.venv
env/
virtualenv/
venv/
ENV/
env.bak/
venv.bak/
pip-selfcheck.json
rec_results/*
rec_model_weights/*
data/amazon_men/*
/rec_results/
