
# Created by https://www.gitignore.io/api/venv
# Edit at https://www.gitignore.io/?templates=venv

### venv ###
# Virtualenv
# http://iamzed.com/2009/05/07/a-primer-on-virtualenv/
.Python
pyvenv.cfg
.env
.venv
.idea
env/
virtualenv/
venv/
ENV/
env.bak/
venv.bak/
pip-selfcheck.json
rec_results/*
rec_model_weights/*
data/amazon_men
data/amazon_women
data/amazon_beauty
data/old_amazon_men
data/pdf_images
/rec_results/*
cnn_models/*

/src/dataset_preprocessing/*
/src/OLD_*
/src2/*

/data/tradesy

/chr/*
/cndcg/*
/FinalRankSys/*
/LatexTables(*
/log/*
data.zip

/RankSys/*